<figure class="card portfolioCard">
    <h3 class="cardTitle column is-full">{{projName}}</h3>
    <div class="columns">
        <img src={{imgLink}} alt="Screenshot of a project website that populates weather and financial data" class="cardimg column is-one-third">
        <p class="cardtext column is-one-half">
            {{description}}
        </p>
    </div>
    <a href={{link}} class="cardlink" target="_blank">Link to the Live Site</a>
</figure>