<main class="container">
    <br/>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="https://slimbeek6.github.io/SML_Portfolio/" id="myName">
                <h1 class="title" >Shaun Limbeek</h1>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarRightSide">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarRightSide" class="navbar-menu">
            <div class="navbar-end">
                <button class="navbar-item menuItem" id="about-link">About</button>
                <button class="navbar-item menuItem" id="portfolio-link">Portfolio</button>
                <button class="navbar-item menuItem" id="contact-link">Contact</button>
            </div>
        </div>
    </nav>

    <br/><br/><br/>

    <div class="tile is-ancestor" style="text-align: center;">
        <div class="tile is-parent" id="Portfolio-box">
            <article class="tile is-child box">
            <p class="title">Portfolio</p>
            <p class="subtitle">My Work</p>
            <img src="../assets/job-hunt.jpg" alt="An example of a project I created for logging job hunt data">
            </article>
        </div>
        <div class="tile is-parent" id="About-box">
            <article class="tile is-child box">
            <p class="title">About Me</p>
            <p class="content"></p>
            <img src="../assets/self.jpg" alt="An example of a project I created for logging job hunt data" id="selfphoto">
            </article>
        </div>
        <div class="tile is-parent" id="Contact-box">
            <article class="tile is-child box">
            <p class="title">Contact</p>
            <p class="subtitle">How to get in touch</p>
            <img src="../assets/contact.png" alt="An example of a project I created for logging job hunt data">
            </article>
        </div>
    </div>

</main>
<!-- Creating the footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>   
                The source code is licensed via <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
            </p>
        </div>
    </footer>

<script src="../js/main.js"></script>