nav {
    margin: auto;
    padding: 2px;
}

.menuItem {
    margin-right: 2%;
    font-weight: bold;
    text-decoration: underline aqua;
}

.card {
    height: 2000px;
    background-image: url("/assets/background-image.jpg");
}