nav {
    margin: auto;
    padding: 4px;
}

#myName {
    word-wrap: none;
    padding-left: 1rem;
    word-break: keep-all;
}

.menuItem {
    margin-right: 2%;
    font-weight: bold;
    text-decoration: underline green;
}

body {
    
    background-image: url(./background-image2.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 100%; 
}

.navbar {
    background-color: transparent;
}

.footer {
    background-color: transparent;
}

#contactPane{
    background-color: rgba(255,255,255,0.5);
}

.button {
    background-color: blue;
    color:white;
}

#emailSect {
    font-size: large;
    font-weight: bold;
}